.hero {
    height: 100vh;
    background-image: url("Sin título (1920 x 1080 px).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
